<div class="container" style="background-color: rgb(221,221,221)">

    <div class="row" >
        <div class="text-center" style="padding: 10vw 0vw 10vw 0vw">
            <span class="meeting-conversation-text">{{text}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <img src="images/Table@2x.png" alt=""/>
            </div>
        </div>
    </div>

    <div ng-show="player.isEnd()">
        <button class="btn btn-primary center-block" ng-click="reset()">再来一遍</button>
    </div>

</div>

<div class="container">
    <div class="row">
        <div ng-show="candidatePeople && player.seq == 0" style="margin-left: 15px; margin-right: 15px">
            <div class="col-xs-4" ng-repeat="cand in candidatePeople" ng-if="cand.selectable || cand.required" style="padding-top: 15px;padding-bottom: 15px;">
                <a ng-click="handleCandidate(cand)">
                    <div class="text-center" ng-style="{'background-color':backgroundForCand(cand), 'padding-top': '10px', 'padding-bottom': '10px'}">
                        <p>
                            <span style="color: black">{{cand.name}} {{cand.role}}</span>
                        </p>

                        <p>
                            <img ng-src="{{cand.img}}" alt="" style="width:10vw; height:24vw" />
                        </p>
                    </div>

                    <!--<div class="col-xs-1">-->
                    <!--<i class="fa fa-check" aria-hidden="true" ng-show="player.userData.people.includes(cand.name)"></i>-->
                    <!--</div>-->
                </a>
            </div>
        </div>
    </div>



    <div>
        <div class="list-group" ng-show="items.length > 0">
            <a class="list-group-item" ng-repeat="item in items" ng-click="handleChoose(item)">{{player.textFromItem(item)}}</a>
        </div>
    </div>

    <div class="row">
        <div class="meeting-bottom-bar">
            <button class="btn btn-default pull-left" style="width: 50vw" ng-click="player.handleRecord()">
                WriteDown
            </button>
            <button class="btn btn-primary pull-right" style="width: 50vw" ng-click="handleNext()">
                Next
            </button>
        </div>
    </div>

</div>